<footer class="rodape">
  <p>All content © 2017 <a href="/sobre-mim">Brenda Andrade</a> - Powered by <a href="http://pearcoffee.io/" onclick="gtag('send', 'event', 'link','click', 'Click no link da Pear Coffee');">Pear Coffee</a>.</p>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="{{ "/assets/js/instafeed.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/js/jquery.sharrre.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/js/main.js" | relative_url }}"></script>
