---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt_BR" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <!--{% include categories.html %}-->

    <div class="main">
      {{ content }}

      <section class="sidebar">
        <div class="widget about">
          <a href="/sobre-mim" onclick="ga('send', 'event', 'link', 'click', 'Click no Sobre Foto Brendinha');"><img src="{{ "/assets/img/brendaandrade.jpg" | relative_url }}" alt="Sou Brenda Andrade, estudante de administração e apaixonada pela escrita. Busco sempre a beleza nas pequenas coisas." title="Sou Brenda Andrade, estudante de administração e apaixonada pela escrita. Busco sempre a beleza nas pequenas coisas." class="img-responsive"></a>
          <p>Sou Brenda Andrade, tenho {{ "now" | date: '%y' | plus: 2 }} anos, acadêmica de administração e apaixonada pela escrita, busco sempre a beleza nas pequenas simplicidades da vida.</p>
          <a href="/sobre-mim" class="more" onclick="ga('send', 'event', 'link', 'click', 'Click no Sobre lateral');">saiba mais →</a>

          <a class="blsdk-follow" href="https://www.bloglovin.com/blogs/altos-insights-be-a-minimalist-everyday-18850787" target="_blank" data-blsdk-type="button">Follow</a><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s);js.id = id;js.src = "https://www.bloglovin.com/widget/js/loader.js?v=1";fjs.parentNode.insertBefore(js, fjs);}(document, "script", "bloglovin-sdk"))</script>
        </div>
        <div class="widget">
          <h2>instagram</h2>
          <div id="instafeed"></div>
        </div>

        <div class="widget">
          <h2>facebook</h2>
          <div class="fb-page" data-href="https://www.facebook.com/altosinsights/" data-width="337px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/altosinsights/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/altosinsights/">Altos Insights</a></blockquote></div>
        </div>

        <div class="widget">
          <h2>publicidade</h2>
          <script type="text/javascript" src="//lizard1301.spider.ad/spd_display?p1=61165.divSpdRetangulo"></script>
        </div>

        <div class="widget" id="fixoptin" style="overflow: hidden;border-style: dashed;border-color: #7f96a5;">
          <div class="optin">
            <div id="mc_embed_signup">
              <form action="//altosinsights.us15.list-manage.com/subscribe/post?u=337dcf85c4595df5ca307ad43&amp;id=184fb80abe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate>
                <p><b>Faça parte da nossa lista de e-mails!</b> <br>Receba novidades, descontos e muito mais.</p>
                <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group" style="display: block;">
                    <input type="text" value="" placeholder="Seu nome" name="FNAME" class="" id="mce-FNAME" required>
                    <input type="email" value="" placeholder="Seu melhor e-mail" name="EMAIL" class="required email" id="mce-EMAIL" required style="margin: 10px 0;">
                    <input type="submit" value="Ok!" onclick="ga('send', 'event', 'Signup Form', 'submit', 'Cadastro no optin');" name="subscribe" id="mc-embedded-subscribe" class="enviar button" style="text-align: left;margin-bottom: 40px;">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_337dcf85c4595df5ca307ad43_184fb80abe" tabindex="-1" value="">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>

    {% include footer.html %}

  </body>

</html>
